body{
    margin:0;
    background:#f4f6f9;
    font-family:Arial,sans-serif;
}

.container{
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    color:#333;
}

textarea{
    width:100%;
    height:500px;
    margin-top:20px;
    padding:15px;
    border:none;
    outline:none;
    resize:none;
    font-size:16px;
    line-height:1.6;
}